* {
    background-color: rgb(255, 231, 235);
    font-family: 'Ubuntu', sans-serif;
}

button {
    border: none;
    background-color:#ff5722;
    color: black;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    float: left;
    border-radius: 0px 0px 25px 25px;
    font-size: 25px;
}

button:hover{
    background-color: #cf3304;
}

a {
    color: red;
    text-decoration: none;
    background-color: white;
}

h1, h3 {
    background-color: white;
    border-radius: 25px;
}

form {
    background-color: white;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
  
}

input {
    display: inline-block;
    width: 200px;
    position: relative;
    background-color: white;
    border-radius: 25px;
    border: none;
    height: 20px;
    border-bottom:1px solid #ff5722;
    text-align: center;
    margin-bottom: 25px;
  }

  input::placeholder {
text-align: center;
  }
  


  label {
    display: block;
    padding-top: 20px;
    background-color: white;
  }


fieldset {
    margin: 0;
    border: none;
    background-color: white;

}

legend {
    display: none;
}

input[type="radio"] {
    display: flex;
    margin: 0;
    
  }

  fieldset fieldset label {
    padding-top:0;
    display: flex;

  }

  p {
      background-color: white;
      margin-bottom: 0;
  }

  select{
      background-color: white;
      width: 200px;
  }

  main{
      width: 500px;
      margin: 0 auto;
      text-align: center;
      background-color: white;
      border-radius: 25px 25px 0px 0px;
  }

  img {
      border-radius: 25px;
  }

  .ww {
      width: 500px;
      height: 40px;
      border-radius: 0px;
      background-color: #29ffe2;;
  }

  .ww:hover{
    background-color: #0ba18d;;
  }